*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    filter: blur(30%);
    animation: fon 15s linear infinite;
    transition: 3s ease-in-out;
    font-family: "Permanent Marker";
    color: #000000;
}
.container{
   
    height: 100vh;
  

}
.line{
    content: "";
        margin: auto 0;
        width: 90%;
        height: 6px;
        background-color: #fff;
        border-radius: 50%;
        margin: auto;
        margin-top: 10px;
}
.head{
    display: flex ;
    justify-content: center;
    align-items: center;
}


.my_contact{
    width: 370px;
    height: 100vh   ;
    background-color: #960bf3;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 25px;
}
.card_one{
    width: 200px; 
    height: 263px;
    background: #ccc;
    margin-top: 100px;
    padding: 5px;
    background-color: orangered;
    padding-right: 20px; 
    border: solid 1px black; 
    float: left;
    border-radius: 20px;
    transition: opacity 0.5s ease;
    -webkit-box-shadow: 33px 6px 67px 0px rgba(255,213,0,1);
-moz-box-shadow: 33px 6px 67px 0px rgba(255,213,0,1);
box-shadow: 33px 6px 67px 0px rgba(255,213,0,1);
   
}
.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black; /* Колір тексту */
    font-size: 20px; /* Розмір тексту */
    text-align: center;
    opacity: 0; /* Початкова прозорість тексту */
    transition: opacity 0.5s ease; /* Плавний перехід */}
.card_one img{
    width: 190px;
    height: 150px;
}
.linr_two{
    background-color: #000000;
}
.html{
    margin-left: 40px;
    
}
.card_one  :hover{
    opacity: 0;
}
.card_one:hover .text {
    opacity: 1; }
.card_two{
    width: 200px;  
    height: 263px;
    padding: 5px; 
    margin-top: 100px;
    margin-left: 55px;
    border: solid 1px black; 
    background-color: blue;
    float: left; 
    position: relative; 
    left: 10px;
    border-radius: 20px; 
    -webkit-box-shadow: 33px 6px 67px 0px rgba(7,13,77,1);
-moz-box-shadow: 33px 6px 67px 0px rgba(7,13,77,1);
box-shadow: 33px 6px 67px 0px rgba(7,13,77,1);

}
.card_two img{
    width: 40px;
}
.card_two img{
    width: 190px;
    height: 150px;
}
.htmll{
    margin-left: 50px;
}

.card_tree{
    width: 200px;  
    height: 263px;
    padding: 5px; 
    margin-top: 100px;
    margin-left: 55px;
    border: solid 1px black; 
    background-color:rgb(74, 38, 99);
    float: left; 
    position: relative; 
    left: 10px; 
    border-radius: 20px;
    -webkit-box-shadow: 33px 6px 67px 0px rgba(77,8,77,1);
-moz-box-shadow: 33px 6px 67px 0px rgba(77,8,77,1);
box-shadow: 33px 6px 67px 0px rgba(77,8,77,1);
}
.card_tree img{
    width: 190px;
    height: 150px;
}
.htmlll{

}
.card_four{
    width: 200px;  
    height: 263px;
    padding: 5px; 
    margin-top: 100px;
    margin-left: 80px;
    border: solid 1px black; 
    background-color:rgb(165, 44, 139);
    float: left; 
    position: relative; 
    left: 10px;
    border-radius: 20px; 
    -webkit-box-shadow: 33px 6px 67px 0px rgba(222,20,222,1);
-moz-box-shadow: 33px 6px 67px 0px rgba(222,20,222,1);
box-shadow: 33px 6px 67px 0px rgba(222,20,222,1);
}
.card_four img{
    width: 190px;
    height: 150px;
}
.htmllll{
    margin-left: 60px;
}


/* .line_two{
    width: 1000px;
    height: 1px;
    background-color: #fff;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
} */
.head_two{
    
}

.button_back{
    background-image: linear-gradient(to right, #E55D87 0%, #5FC3E4  51%, #E55D87  100%);
    padding: 12px 34px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    text-decoration: none;
    margin: 20px 0 -30px 20px;
  }
  a{
    text-decoration: none;
  }

  .button_back:hover {
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;

  }
  




@keyframes fon {
    0% {background-color: rgb(43, 230, 230);}
    50% {background-color: #960bf3;}
    100% {background-color:rgb(43, 230, 230);}
}
@media screen and (max-width: 700px) {
    .card_four{
        margin-left: 20px;
        margin-top: 20px;
    }
    .card_one{
        margin-left: 20px;
        margin-top: 10px;
    }
    .card_two{
        margin-left: 10px;
        margin-top: 10px;
    }
    .card_tree{
        margin-left: 10px;
        margin-top: 20px;
    }
}
.about_text{
    margin-top: 40px;
}
